.btn{
    margin-top:1%;
}

.tags
{
    margin: 5px;
}
#home{
    margin-top:5%;
}
#askfh{
    margin-top:1%;
  display: none;  
}
#offh{
    margin-top:1%;
    display:none;
}
#mapdiv{
    margin-top:2%;
    display:none;
}
#map{
    height: 450px;

    margin: auto;
}
.selected{
    z-index: 10;
    
}
#offhdiv,#askfhdiv{
    margin-top: 1%;
height: 700px;
}
#askfhdiv{float: right;}

#editrmv{
  margin-top:2%;
  display:none;
}

/*#errow1{
  margin-top: 20%
}*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.legend {
    padding: 3px 3px;
    background: white;
    background: rgba(255, 255, 255, 0.5);
  
    line-height: 20px;
    
  }
